/*      welcome section with main header        */

h1 {
    font-size: 3rem;
}
.welcome {
    text-align: left;
    margin-left: 8vw;
}
.welcome p {
    font-size: 1.5rem;
}
.subscribe {
    margin: 5vw 0;
}
.margin-top {
    margin-top: 0;
}
.margin-bot {
    margin-bottom: 0;
}

/*           featured section           */
.featured {
    margin: 10vw auto;
}
.featured h2,
.latest-posts h2 {
    width: 95%;
    border-bottom: 2px solid var(--lightBlue);
    margin-left: 2vw;
}
.featured-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
.featured-container a {
    width: 95%;
}
/*          featured section cards           */

/* this sectin has been moved to index css bc of list of post page that share css  */

  /*            latest post section with slider/carousel             */
  .slider-container {
    display: flex;
    justify-content: center;
    margin: 5vw auto;
  }
  .slider {
    width: 250px;
    text-align: center;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    width: 250px;
    height: 500px;
    margin-right: 50px;
    border-radius: 16px;
    padding-top: 40px;
  }
  
  .slider > a {
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    background: var(--lightBlue);
    color: var(--text);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 1rem 0.4rem 1rem 0;
    position: relative;
  }
  .slider > a:focus {
    background: #000;
  }
  .slider > a:target {
    background-color: #000;
  }
  .slider > a:active {
    background-color: #000;
  }
  .black {
    background-color: #707070 !important;
  }

  /*       subscribe her section         */

  .subscribe-here {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 3rem 10px 0 10px;
  }
  .subscribe-here form {
    padding: 10px;
    background-color: var(--forms);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .subscribe-here input {
    font-size: 1rem;
    width: 120px;
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: 0;
    padding: 10px;
  }
  .text-align-left-center{
    text-align: center;
  }