:root {
    --lightBlue: #49b0d9;
    --mainbgcolor: #1E2631;
    --forms: #2a343e;
    --text: #fff;
}

body {
    margin: o;
    padding: o;
    box-sizing: border-box;
    background-color: var(--mainbgcolor);
    color: var(--text);
    font-family: poppins,Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
.heading {
    color: var(--lightBlue);
    font-size: 3rem;
}
/*       cta         */
.cta {
    background-color: var(--lightBlue);
    color: var(--text);
    border-radius: 50px;
    padding: 10px 30px;
}
/*       nav        */
.active {
    text-decoration: underline;
}
header {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin: 1vw;
}
.hero  img{
    width: 100%;
    height: 80vh;
    opacity: 0.25;
    mix-blend-mode: luminosity;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
}
.logo a  {
    font-weight: 900;
    font-size: 74px;
    text-decoration: none;
    color: var(--lightBlue);
}
nav {
    display: none;
    margin-right: 20px;
    position: fixed;
    top: 100px;
    right: -15px;
    z-index: 100;
    border-radius: 30px;
    background-color: var(--mainbgcolor);
}
.posfix {
    position: relative;
}
nav ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 10px 25px
}
nav li {
    display: block;
    padding: 10px;
}
nav a{
    color: var(--text);
    padding: 10px;
    font-size: 1.3rem;
}
#hamburger {
    display: none;
}
#hamburger:checked ~ nav {
    display: block;
}
header label {
    cursor: pointer;
    margin-right: 20px;
    position: fixed;
    right: 10px;
    top: 60px;
}
header label span {
    display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--text);
  border-radius: 3px;
  z-index: 1;
}

/*      welcome section with main header        */
.blue {
    color: var(--lightBlue);
}
h1 {
    font-size: 3.5rem;
}
.welcome {
    text-align: left;
    margin-left: 8vw;
}
.welcome p {
    font-size: 2rem;
}
.subscribe {
    margin: 5vw 0;
}

/*           featured section           */
.featured {
    margin: 10vw auto;
}
.featured h2,
.latest-posts h2 {
    width: 90%;
    border-bottom: 2px solid var(--lightBlue);
    margin-left: 2vw;
}
.featured-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
.featured-container a {
    width: 95%;
}
/*          featured section cards           */
.card {
    border-radius: 16px;
    margin: 0 auto;
    width: 400px;
    max-width: 100%;
    min-height: 500px;
    overflow: hidden;
    background-image: url("../assets/pictures/the-colossus-of-rhodes_u-l-q1nkce80.jpg");
    background-size: cover;
  }
  
  .card-info {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: var(--lightBlue);
    color: var(--text);
    transform: translateY(100%)
      translateY(-88px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  }
  
  /* .card-info:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    transform: translateY(-100%)
      translateY(88px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  } */
  
  .card:hover .card-info,
  .card:hover .card-info:before {
    transform: translateY(0) translateZ(0);
  }
  
  .card-title {
    margin: 0;
    padding: 12px;
    font-size: 2rem;
    line-height: 1;
    color: var(--text);
    text-align: center;
    border-bottom: 1px solid var(--text);
  }
  
  .card-description {
    margin: 0;
    padding: 2rem;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }



@media (min-width: 800px) {
    nav {
        display: block;
        position: static;
        background-color: transparent;
    }
    nav ul {
        flex-direction: row;
    }
    .posfix {
        position: absolute;
        right: 20px;
        top: 40px;
    }
    header label {
        display:none;
    }
}
@media (min-width: 850px) {
    .featured-container {
        flex-direction: row;
    }
    .featured-container a {
        width: 30%;
    }
    .card-title {
        font-size: 1.8rem;
        padding: 24px;
      }
}