:root {
    --lightBlue: #49b0d9;
    --hover-cta: #306d85;
    --mainbgcolor: #1E2631;
    --forms: #2a343e;
    --text: #fff;
}

body {
    margin: o;
    padding: o;
    box-sizing: border-box;
    background-color: var(--mainbgcolor);
    color: var(--text);
    font-family: poppins,Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
    color: var(--text);
}
.heading {
    color: var(--lightBlue);
    font-size: 3rem;
}
/*          generic commom classes           */
.blue {
    color: var(--lightBlue);
}
.active {
    text-decoration: underline;
}
/*          bredcrumbs           */
.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 2vw;
}
/*           cta             */
.cta {
    background-color: var(--lightBlue);
    color: var(--text);
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    border-color: transparent;
}
.cta:hover {
    background-color: var(--hover-cta);
    border-color: transparent;
}
/*           nav            */
header {
    display: flex;
    align-items: flex-end;
    margin: 1vw;
}
.hero  img{
    width: 100%;
    height: 80vh;
    opacity: 0.25;
    mix-blend-mode: luminosity;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
}
.logo a  {
    font-weight: 900;
    font-size: 74px;
    text-decoration: none;
    color: var(--lightBlue);
}
nav {
    display: none;
    margin-right: 20px;
    position: fixed;
    top: 100px;
    right: -15px;
    z-index: 100;
    border-radius: 30px;
    background-color: var(--mainbgcolor);
    border: 3px solid white;
}
.posfix {
    position: relative;
}
nav ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 10px 25px
}
nav li {
    display: block;
    padding: 10px;
}
nav a{
    color: var(--text);
    padding: 10px;
    font-size: 1.3rem;
}
#hamburger {
    display: none;
}
#hamburger:checked ~ nav {
    display: block;
}
header label {
    cursor: pointer;
    margin-right: 20px;
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 100;
}
header label span {
    display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--text);
  border-radius: 3px;
  z-index: 1;
}

/*          card, card details and all that has to do with the card section           */
.card {
    border-radius: 16px;
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
    min-height: 500px;
    overflow: hidden;
    background-image: url("../assets/pictures/the-colossus-of-rhodes_u-l-q1nkce80.jpg");
    background-size: cover !important;
  }
  
  .card-info {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: var(--lightBlue);
    color: var(--text);
    transform: translateY(100%)
      translateY(-88px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  }
  
  .card:hover .card-info,
  .card:hover .card-info:before {
    transform: translateY(0) translateZ(0);
  }
  
  .card-title {
    margin: 0;
    padding: 18px;
    font-size: 2rem;
    line-height: 1;
    color: var(--text);
    text-align: center;
    border-bottom: 1px solid var(--text);
  }
  
  .card-description,
  .card-description + p {
    margin: 0;
    padding: 5px 0 0 7px;
    font-size: 18px;
    line-height: 1.5;
  }

/*              footer               */

footer {
    display: flex;
    justify-content: space-around;
    margin: 2rem auto;
    border-top: 2px solid #707070;
    padding-top: 30px;
    width: 90%;
}
footer a {
    color: var(--text);
    font-size: 1.1rem;
    padding: 20px;
    letter-spacing: 0;
}